name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Node v${{ matrix.node-version }} / stylelint v${{ matrix.stylelint }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22, 24]
        stylelint: [16, 17]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node v${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm install "stylelint@${{ matrix.stylelint }}"
          npm ci

      - name: Version Check
        run: |
          node --version
          npm ls stylelint

      - name: Build package
        run: npm run build
