name: Build

on:
  push:
    branches: [master, ci]
  pull_request:
    branches: [master, ci]

jobs:
  build:
    name: Node v${{ matrix.node-version }} / stylelint v${{ matrix.stylelint }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12, 14, 15, 16]
        stylelint: [10, 11, 12, 13]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node v${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: | 
        npm install "stylelint@${{ matrix.stylelint }}"
        npm install

    - name: Version Check
      run: |
        node --version
        npm ls stylelint

    - name: Test packages
      run: npm test

  success:
    name: Success
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: 16

    - name: Install dependencies
      run: npm install

    - name: Run Code Coverage
      run: npm run coverage
